<div class="information-wrapper">
  <form [formGroup]="form">
    <div *ngIf="state === 'nameState'" class="form-card">
      <label for="name">Name</label>
      <input type="text" placeholder="Name" formControlName="name">
      <small *ngIf="isControlInvalid('name')">Name is invalid. Name is required</small>
      <button (click)="changeFormInput('name')" type="button" [disabled]="form.controls.name.invalid"
        class="form-card__button">Next</button>
    </div>
    <div *ngIf="state === 'emailState'" class="form-card">
      <label for="email">Email</label>
      <input type="email" placeholder="Email" formControlName="email">
      <small *ngIf="isControlInvalid('email')">Email is invalid. Email is required</small>
      <button (click)="changeFormInput('email')" type="button" class="form-card__button"
        [disabled]="form.controls.email.invalid">Next</button>
    </div>
    <div *ngIf="state === 'phoneState'" class="form-card">
      <label for="phone">Phone</label>
      <input type="tel" placeholder="+1XXX-XXX-XXXX" formControlName="phone">
      <small *ngIf="isControlInvalid('phone')">Phone is invalid. Phone is required</small>
      <button (click)="changeFormInput('phone')" type="button" class="form-card__button"
        [disabled]="form.controls.phone.invalid">Next</button>
    </div>
    <div *ngIf="state === 'imageSate'" class="form-card">
      <label for="image">Image</label>
      <img class="preview" [ngStyle]="{'display': user.showImage? 'block' : 'none'}" [src]="user.person.image"
        alt="previewImage">
      <input type="file" accept="image/*" (change)="user.addImage($event.target)">
      <small *ngIf="user.buttonStatus">Image is required</small>
      <button (click)="changeFormInput('image')" type="button" class="form-card__button"
        [disabled]="user.buttonStatus">Next</button>
    </div>
    <div *ngIf="state === 'previewState'" class="form-card">
      <p><b>Name: </b>{{user.person.name}}</p>
      <p><b>Email: </b>{{user.person.email}}</p>
      <p><b>Phone: </b>{{user.person.phone}}</p>
      <img src="{{user.person.image}}" alt="uerImage" class="user_image">
      <div>
        <button (click)="goToResultsPage()" type="submit" class="form-card__button">Submit</button>
      </div>
    </div>
  </form>
</div>
