<div class="information_wrapper">
  <form [formGroup]="name">
    <div *ngIf="toggleName" class="formCard">
      <label>Name</label>
      <input #nameInput type="text" (input)="onInput($event)" placeholder="Name" formControlName="name">
      <small *ngIf="name.invalid && name.touched">Name is invalid. Name is required</small>
      <button (click)="inputName()" type="submit" class="btn" [disabled]="name.invalid">Next</button>
    </div>
  </form>
  <form [formGroup]="email">
    <div *ngIf="!toggleName && !toggleEmail" class="formCard">
      <label>Email</label>
      <input type="email" (input)="onInput($event)" placeholder="Email" formControlName="email">
      <small *ngIf="email.invalid && email.touched">Email is invalid. Email is required</small>
      <button (click)="inputEmail()" type="submit" class="btn" [disabled]="email.invalid">Next</button>
    </div>
  </form>
  <form [formGroup]="phone">
    <div *ngIf="toggleEmail && !togglePhone" class="formCard">
      <label>Phone</label>
      <input type="tel" (input)="onInput($event)" placeholder="+1XXX-XXX-XXXX" formControlName="phone">
      <small *ngIf="phone.invalid && phone.touched">Phone is invalid. Phone is required</small>
      <button (click)="inputPhone()" type="submit" class="btn" [disabled]="phone.invalid">Next</button>
    </div>
  </form>
  <div *ngIf="togglePhone && !toggleImage" class="formCard">
    <label>Image</label>
    <img class="preview" [ngStyle]="{'display': showImage? 'block' : 'none'}" [src]="person.image" alt="previewImage">
    <input type="file" accept="image/*" (change)="addImage($event.target)">
    <small *ngIf="buttonStatus">Image is required</small>
    <button (click)="sendImage()" type="submit" [disabled]="buttonStatus" class="btn">Next</button>
  </div>
  <div *ngIf="toggleImage && !toggleSubmit" class="formSubmit">
    <p><b>Name: </b>{{person.name}}</p>
    <p><b>Email: </b>{{person.email}}</p>
    <p><b>Phone: </b>{{person.phone}}</p>
    <img src="{{person.image}}" alt="uerImage" class="user_image">
    <div>
      <button (click)="goToResultsPage()" type="button" class="btn">Submit</button>
    </div>
  </div>
</div>
