<div class="information-wrapper">
  <form [formGroup]="form">
    <div *ngIf="toggleName" class="form-card">
      <label for="name">Name</label>
      <input type="text" placeholder="Name" formControlName="name">
      <small *ngIf="isControlInvalid('name')">Name is invalid. Name is required</small>
      <button (click)="inputName()" type="button" [disabled]="isControlInvalid('name')" class="form-card__button">Next</button>
    </div>
    <div *ngIf="!toggleName && !toggleEmail" class="form-card">
      <label for="email">Email</label>
      <input type="email" placeholder="Email" formControlName="email">
      <small *ngIf="isControlInvalid('email')">Email is invalid. Email is required</small>
      <button (click)="inputEmail()" type="button" class="form-card__button" [disabled]="isControlInvalid('email')">Next</button>
    </div>
    <div *ngIf="toggleEmail && !togglePhone" class="form-card">
      <label for="phone">Phone</label>
      <input type="tel" placeholder="+1XXX-XXX-XXXX" formControlName="phone">
      <small *ngIf="isControlInvalid('phone')">Phone is invalid. Phone is required</small>
      <button (click)="inputPhone()" type="button" class="form-card__button" [disabled]="isControlInvalid('phone')">Next</button>
    </div>
    <div *ngIf="togglePhone && !toggleImage" class="form-card">
      <label for="image">Image</label>
      <img class="preview" [ngStyle]="{'display': showImage? 'block' : 'none'}" [src]="person.image" alt="previewImage">
      <input type="file" accept="image/*" (change)="addImage($event.target)">
      <small *ngIf="buttonStatus">Image is required</small>
      <button (click)="sendImage()" type="button" class="form-card__button">Next</button>
    </div>
    <div *ngIf="toggleImage && !toggleSubmit" class="form-card">
      <p><b>Name: </b>{{person.name}}</p>
      <p><b>Email: </b>{{person.email}}</p>
      <p><b>Phone: </b>{{person.phone}}</p>
      <img src="{{person.image}}" alt="uerImage" class="user_image">
      <div>
        <button (click)="goToResultsPage()" type="submit" class="form-card__button">Submit</button>
      </div>
    </div>
  </form>
</div>
