<div *ngIf="main" class="main-wrapper">
  <h1>Welcome to Credit Score</h1>
  <h3>Check your credit score</h3>
  <button class="main-wrapper__button" (click)="goToInformationPage()">Check</button>
</div>
<div *ngIf="localWrapper" class="main-user-information">
  <p><b>Name: </b>{{userCard.name}}</p>
  <p><b>Email: </b>{{userCard.email}}</p>
  <p><b>Phone: </b>{{userCard.phone}}</p>
  <img src="{{userCard.image}}" alt="User" class="user-information__image">
  <p><b>Your score number: </b>{{randomNumber}}</p>
</div>
