<div *ngIf="main" class="main-wrapper">
  <h1>Welcome to Credit Score</h1>
  <h3>Check your credit score</h3>
  <button class="main-wrapper__button" (click)="goToInformationPage()">Check</button>
</div>
<div *ngIf="localWrapper" class="main-user-information">
  <p>Name: </p><span>{{userCard.name}}</span>
  <p>Email: </p><span>{{userCard.email}}</span>
  <p>Phone: </p><span>{{userCard.phone}}</span>
  <img src="{{userCard.image}}" alt="User" class="user-information__image">
  <p>Your score number: </p><span>{{randomNumber}}</span>
</div>
